* {
    padding: 0;
    margin: 0;
}

.intro {
    height: 235px;
    width: 1905px;
    object-fit: cover;
    background-color: aliceblue;
    text-align: center;
}

.titulo {
    font-size: 60px;
    font-weight: 900;
    width: 1905px;
    text-align: center;
    background-color: #e95289;
    color: aliceblue;
    padding: 16px;
}

.subtitulo {
    font-size: 40px;
    font-weight: 700;
    width: 1905px;
    text-align: center;
    padding: 16px;
    background-color: #e95289;
    color: beige;
}

.sinopse {
    height: 230px;
    font-size: 25px;
    margin: 30px;
}

.logo2 {
    width: 1700px;
    height: 400px;
    padding: 0px;
    object-fit: contain;
    font-size: 40px;
}

.subtitulo-destaque {
    padding: 3px;
    font-size: 50px;
    margin: 30px;
}

.container {
    width: 500px;
}

.personagens {
    height: 260vh;
    width: 25vw;
}

.HANAKO {
    background-color: #c7e796;
    padding: 8px;
    font-size: 30px;
    margin: 30px;
}

.HANAKO2 {
    font-size: 25PX;
    margin: 30px;
}

.tarou {
    background-color: #fdbca0;
    padding: 8px;
    font-size: 30px;
    margin: 30px;
}

.TAROU {
    font-size: 25px;
    margin: 30px;
}

.Narumi {
    background-color: #ffbad9;
    padding: 8px;
    font-size: 30px;
    margin: 30px;
}

.NARUMI {
    font-size: 25px;
    margin: 30px;
}

.Hirotaka {
    background-color: #94d5fd;
    padding: 8px;
    font-size: 30px;
    margin: 30px;
}

.HIROTAKA {
    font-size: 25px;
    margin: 30px;
}

.Ko {
    background-color: #d9c8ec;
    padding: 8px;
    font-size: 30px;
    margin: 30px;
}

.KO {
    font-size: 25px;
    margin: 30px;
}

.Naoya {
    background-color: #feeaad;
    padding: 8px;
    font-size: 30px;
    margin: 30px;
}

.NAOYA {
    font-size: 25px;
    margin: 30px;
}

.OTAKUS {
    width: 1700px;
    height: 400px;
    padding: 0px;
    object-fit: contain;
}

.A {
    font-size: 30px;
    text-align: center;
    background-color: #ff9c00;
}

.B {
    font-size: 30px;
    text-align: center;
}

.C {
    font-size: 30px;
    text-align: center;
}

.D {
    font-size: 30px;
    text-align: center;
}

.E {
    font-size: 30px;
    text-align: center;
}

.F {
    font-size: 30px;
    text-align: center;
}

.G {
    font-size: 30px;
    text-align: center;
}

.H {
    font-size: 30px;
    text-align: center;
}

.GIF {
    width: 1700px;
    height: 400px;
    padding: 0px;
    object-fit: contain;
}

.final {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

@media (max-width:960px) {
    .titulo {
        transform: translate(-40%, -5%);
        place-self: center;
    }
    .subtitulo {
        transform: translate(-40%, -60%);
        font-size: 25px;
    }
    .logo2 {
        transform: translate(6%, -45%);
        place-self: center;
        width: 90vw;
    }
    .sinopse {
        font-size: 15px;
        transform: translate(-2%, -30%);
    }
    .intro {
        display: none;
    }
    .subtitulo-destaque {
        font-size: 30px;
        transform: translate(-2%, -850%);
    }
    .personagens {
        height: 150vh;
        width: 100vw;
    }
    .HANAKO {
        font-size: 20px;
        transform: translate(-2%, -1000%);
    }
    .HANAKO2 {
        font-size: 20px;
        transform: translate(-2%, -255%);
    }
    .tarou {
        font-size: 20px;
        transform: translate(-2%, -1220%);
    }
    .TAROU {
        font-size: 20px;
        transform: translate(-2%, -425%);
    }
    .Narumi {
        font-size: 20px;
        transform: translate(-2%, -1270%);
    }
}